@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Recoleta;
    src: url("./Recoleta-Medium.ttf") format("truetype");
}

@font-face {
    font-family: Avenir;
    src: url("./AvenirLTStd-Roman.otf") format("opentype");
}

.img-size {
  background-size: cover;
}

.glass {
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
